<app-product-search (filterChange)="changeProductFilter($event)"></app-product-search>
<h2 class="product-count-header">Product Count: {{ productCount$ | async}}</h2>
<table>
  <tr>
    <th>Reference</th>
    <th>Name</th>
    <th>Price</th>
    <th></th>
  </tr>
  <tr *ngFor="let p of products$ | searchProducts: productFilter | async">
    <td>{{p.reference}}</td>
    <td>{{p.name}}</td>
    <td>{{p.price}}</td>
    <td>
      <button (click)="addProductToCart(p)">Add to cart</button>
    </td>
  </tr>
</table>
